@axe-devtools:registry=https://agora.dequecloud.com/artifactory/api/npm/dequelabs/
//agora.dequecloud.com/artifactory/api/npm/dequelabs/:_auth=YW5keS53eWF0dEBkZXF1ZS5jb206Y21WbWRHdHVPakF4T2pFM05Ua3pNelk0TURVNk1VWnBZMGN3U1VaR2RXNVpkVGhhVUZsWmNEZzRTRlZWUW14MQ==
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:email=andy.wyatt@deque.com
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:always-auth=true
