@<SCOPE>:registry=https://agora.dequecloud.com/artifactory/api/npm/axe-devtools-mobile-appium-qa/
//agora.dequecloud.com/artifactory/api/npm/axe-devtools-mobile-appium-qa/:_password=YW5keS53eWF0dEBkZXF1ZS5jb206Y21WbWRHdHVPakF4T2pFM05UY3dPVEF4TURZNlNHRmtNRE5RUm10TGQwaERNRnBtVEVGUk4yOVpkalJPVld0NQ==
//agora.dequecloud.com/artifactory/api/npm/axe-devtools-mobile-appium-qa/:username=andy.wyatt@deque.com
//agora.dequecloud.com/artifactory/api/npm/axe-devtools-mobile-appium-qa/:email=andy.wyatt@deque.com
//agora.dequecloud.com/artifactory/api/npm/axe-devtools-mobile-appium-qa/:always-auth=true